<span>JavaScriptのサンプルページです</span>

<div id="Panel1"></div>

<style type="text/css">
    .square-panel {
        display: inline-block;
        width: 40px;
        height: 40px;
        background-color: #ff0000;
        border: solid 1px #999999;
        margin: 4px 4px;
    }
</style>



<input type="button" id="Button1" value="配置" />
<div id="Panel2"></div>




<script src="~/Views/Payment/JavaScriptSample.js"></script>



