<span>JavaScriptのサンプルページです</span>

<div id="Panel1"></div>

<style type="text/css">
    button {
        font-size: 60px;
        color: #ffffff;
        background-color: #0000cc;
    }
    .square-panel {
        display: inline-block;
        width: 40px;
        height: 40px;
        background-color: #0000ff;
        border: solid 1px #999999;
        margin: 4px 4px;
    }
</style>



<input type="button" id="Button1" value="配置" />
<div id="Panel2"></div>


<input type="button" id="Button2" value="値の表示" />

<input type="text" id="TextBox1" value="Test" />


<script src="~/Views/Payment/JavaScriptSample.js"></script>



