<span>JavaScriptのサンプルページです</span>

<div id="Panel1"></div>



<script type="text/javascript">
    //DOM Element (WPFで言うとコントロール)


    //document.Panel1.Text = "";
    const panel1 = document.getElementById("Panel1");
    panel1.innerText = "Hello World!";
    panel1.style["font-size"] = "80px";
    panel1.style["color"] = "#ff0000";


</script>

