<div>
    TypeScript!!!
</div>

<input type="text" id="TextBox1" />
<input type="button" id="Button1" value="Start!" />
<div id="Panel1"></div>


<script src="~/Views/Payment/TypeScriptSample.js"></script>

